html, body, h1, h2, h3, h4, p, dl, dt, dd, ul, ol, li, form, input, button, textarea, select, label, table, td, div, span, a {
  margin: 0;
  padding: 0;
  /* outline: 0;*/
  background: transparent;
}

* {
  outline: 0 none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  -webkit-appearance: none;
}

html, body {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  font-family: Helvetica, Tahoma, Verdana, "Microsoft Yahei", simsun, SimHei, Arial, sans-serif;
}

html, h1, h2, h3, h4, h5, h6, textarea, th {
  border-radius: 0;
  font-size: 100%;
  font-weight: normal;
  /*-webkit-appearance: none;*/
}

input, button, select {
  font-family: Helvetica, Tahoma, Verdana, "Microsoft Yahei", simsun, SimHei, Arial, sans-serif;
  border: 0;
  background: 0;
  border-radius: 0;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol, ul, li {
  list-style: none;
}

div:focus {
  outline: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

img {
  -webkit-touch-callout: none;
  vertical-align: middle;
  border: 0;
}

::-webkit-input-placeholder {
  color: #ccc;
}
